{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}2020 Candidates{% endblock %}</h1>
{% endblock %}

{% block content %}
	<table>
		<caption style="caption-side: bottom; margin: 20px;">
			<form action="{{url_for('application.create') }}">
				<input name="New" type="submit" value="New">
			</form> 
			<!--<a class="action" href="{{url_for('application.create') }}">New</a>-->
		</caption>
		<tr>
			<th>URL</th>
            <th>party</th>
			<th>state</th>
			<th>level</th>
			<th>office</th>
			<th>profession</th>
		</tr>
		{% for post in posts %}
			<tr>
				<td>{{ post['url'] }}</td>
                <td>{{ post['party'] }}</td>
				<td>{{ post['state'] }}</td>
				<td>{{ post['level'] }}</td>
				<td>{{ post['office'] }}</td>
				<td>{{ post['profession'] }}</td>
				<td><a class="action" href="{{url_for('application.update', post_id=post['id']) }}">Edit</a></td>

			</tr>
		{% endfor %}
	</table>
{% endblock %}

