{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Edit "{{ post['url'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="row">
			<div class="col-25">
				<label for="state">state</label>
			</div>
			<div class="col-75">
				<input name="state" id="state" value="{{ request.form['state'] or post['state'] }}" >
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="level">level</label>
			</div>
			<div class="col-75">
				<select name="level" id="level" value="{{ request.form['level'] or post['level'] }}" >
					<option value="federal">federal</option>
					<option value="state">state</option>
					<option value="local">local</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="office">office</label>
			</div>
			<div class="col-75">
				<input name="office" id="office" value="{{ request.form['office'] or post['office'] }}" >
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="state">profession</label>
			</div>
			<div class="col-75">
				<input name="profession" id="profession" value="{{ request.form['profession'] or post['profession'] }}" >
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for"text">text</label>
			</div>
			<div class="col-75">
				<textarea name="text" id="text">{{ request.form['text'] or post['text'] }}</textarea>
			</div>
		</div>
		<hr>
		<div class="row" style="display: inline">
			<input type="submit" value="Save">
		</div>
			<input class="danger" type="submit" value="Delete" formaction="{{ url_for('application.delete', id=post['id']) }}" onclick="return confirm('Are you sure?');">
	</form>
{% endblock %}

